<icon-button icon="close" tooltip="Close" class="fixed-top-right" ui-sref="^.^.home({ tab: 'maps'})"></icon-button>
<div layout-margin>
  <h1 class="center md-headline">
    <span ng-if="isNew">Create</span><span ng-if="!isNew">Edit</span> map: {{ map.name }}
  </h1>
  <md-card class="center">
    <md-card-content>
      <form layout="column" role="form" name="form">
        <div layout="row">
          <div class="caption-container" ngf-drop ngf-select ngf-allow-dir="false" ngf-accept="'image/*'" ng-model="files">
            <img ng-src="{{ getImageUrl() }}" style="max-width: 320px" />
            <div class="caption">
              <div class="blur"></div>
              <div class="caption-text">
                <p>Upload image</p>
              </div>
            </div>
          </div>
        </div>
        <md-input-container>
          <label for="name">Name</label>
          <input type="text" id="name" name="name" ng-model="map.name" required>
        </md-input-container>
        <div ng-if="isNew">
          <md-button type="submit" class="md-raised md-primary" ng-click="create()" ng-disabled="form.$invalid || !hasImage()">Create</md-button>
        </div>
        <div ng-if="!isNew" layout="row">
          <md-button type="submit" class="md-raised md-primary" ng-click="update()" ng-disabled="form.$invalid || !isChanged()">Save</md-button>
          <md-button type="button" ng-click="revert()">Revert</md-button>
          <md-button type="button" class="md-warn" ng-click="remove()">Delete</md-button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
