<div class="modal-header">
	<h3>{{modalOptions.headerText}}</h3>
</div>
<div class="modal-body" ng-show="modalOptions.bodyText">
	<p>{{modalOptions.bodyText}}</p>
</div>
<div class="modal-footer">
	<button class="btn" ng-class="'btn-' + modalOptions.confirmButtonType" ng-click="modalOptions.confirm();">{{modalOptions.confirmButtonText}}</button>
	<button class="btn" ng-class="'btn-' + modalOptions.cancelButtonType" ng-click="modalOptions.cancel()">{{modalOptions.cancelButtonText}}</button>
</div>