<div>
	<form id="search" class="form fixed-top-left" role="search" ng-controller="TypeaheadController">
		<div class="form-group">
			<input type="text" class="form-control input-lg" placeholder="find someone..." ng-model="selected" typeahead="result as result.object.firstName + ' ' + result.object.lastName + ' (' + result.object.username + ')' for result in search($viewValue)" typeahead-on-select="onSelect($item, $model, $label)" typeahead-wait-ms="400" typeahead-editable="false">
		</div>
	</form>

    <maps class="fixed-top-right" ng-controller="MapsController" maps="maps"></maps>

	<div class="fixed-bottom-left">
		<a class="btn btn-default" href="/admin" role="button">
			<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
		</a>
	</div>
</div>
