# Java
*.class

# Package Files
*.jar
*.war
*.ear

# Virtual machine crash logs
hs_err_pid*

# Eclipse
.settings/
.project
.classpath

# IntelliJ
.idea
*.iml

# Gradle
build/
.gradle/

# Embedded Databases
*.db

# Runtime data
/backend/data/

# Node modules
node_modules/
