<div layout="column" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button href="/">OfficeMap</md-button>
            <search ng-controller="SearchController"></search>
            <span flex></span>
            <md-button href="/admin">Admin</md-button>
        </div>
    </md-toolbar>
    <md-content layout="column" flex>
        <maps class="fixed-top-right" ng-controller="MapsController" maps="maps"></maps>
        <leaflet defaults="defaults" controls="controls" layers="layers" markers="markers" center="center" flex></leaflet>
    </md-content>
</div>