<div id="map-container">
	<leaflet defaults="defaults" controls="controls" layers="layers" markers="markers" center="center"></leaflet>

    <search class="fixed-top-left" ng-controller="SearchController"></search>

	<maps class="fixed-top-right" ng-controller="MapsController" maps="maps" active-map-ref="mapRef"></maps>

	<div class="fixed-bottom-left">
		<a class="btn btn-default" href="/admin" role="button">
			<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
		</a>
	</div>
</div>
