html, body {
	height: 100%;
	overflow: hidden;
}

#map-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.angular-leaflet-map {
	height: 100%;
}

#search {
	position: fixed;
	top: 10px;
	left: 10px;
}

#search .input-group {
	width: 100%;
}

#areas {
	position: fixed;
	top: 10px;
	right: 10px;
}

#admin {
	position: fixed;
	bottom: 10px;
	left: 10px;
}