#map-container {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#search .input-group {
	width: 100%;
}

.angular-leaflet-map {
	height: 100%;
}

.fixed-top-left {
	position: absolute;
	top: 10px;
	left: 10px;
}

.fixed-top-right {
	position: absolute;
	top: 10px;
	right: 10px;
}

.fixed-bottom-left {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.fixed-bottom-right {
	position: absolute;
	bottom: 10px;
	right: 10px;
}


.image-caption-container {
    position: relative;
}
.image-caption-container .caption {
    position: absolute;
	padding: 5px;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, .6);
    color: #FFF;
}
