<div class="fixed-top-right">
	<a class="btn btn-default" href="/admin" role="button">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	</a>
</div>

<div class="container">
	<div class="page-header">
		<h1>Create person</h1>
	</div>
	<form role="form" name="form">
		<ng-include src="'/app/shared/views/personFormItems.html'"></ng-include>
		<button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid">
			<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
			Save
		</button>
	</form>
</div>