<div class="fixed-top-right">
	<a class="btn btn-default" href="/" role="button">
		<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	</a>
</div>

<div class="container">
	<div class="page-header">
		<h1>Admin</h1>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Maps</h2>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(ref, map) in maps">
						<td><a ng-href="/admin/maps/{{ref}}">{{map.name}}</a>
						</td>
					</tr>
				</tbody>
			</table>
			<a class="btn btn-primary" href="/admin/maps/new" role="button">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				<span>Create...</span>
			</a>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Persons</h2>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead>
					<tr>
						<th>Username</th>
						<th>First name</th>
						<th>Last name</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(ref, person) in persons">
						<td><a ng-href="/admin/persons/{{ref}}">{{person.username}}</a>
						</td>
						<td>{{person.firstName}}</td>
						<td>{{person.lastName}}</td>
						<td><a ng-href="mailto:{{person.email}}">{{person.email}}</a>
						</td>
					</tr>
				</tbody>
			</table>
			<a class="btn btn-primary" href="/admin/persons/new" role="button">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				<span>Create...</span>
			</a>
		</div>
	</div>
</div>