<icon-button icon="close" tooltip="Close" class="fixed-top-right" ui-sref="^.^.home({ tab: 'people'})"></icon-button>
<div layout-margin>
  <h1 class="center md-headline">
    <span ng-if="isNew">Create</span><span ng-if="!isNew">Edit</span> person: {{ person.firstName + ' ' + person.lastName }}
  </h1>
  <md-card class="center">
    <md-card-content>
      <form layout="column" role="form" name="form">
        <div layout="row">
          <div class="caption-container" ngf-drop ngf-select ngf-allow-dir="false" ngf-accept="'image/*'" ng-model="files">
            <img ng-src="{{ getPortraitUrl() }}" style="max-width: 320px" />
            <div class="caption">
              <div class="blur"></div>
              <div class="caption-text">
                <p>Upload image</p>
              </div>
            </div>
          </div>
        </div>
        <!-- TODO remove portrait button -->
        <md-input-container>
          <label for="username">Username</label>
          <input id="username" name="username" ng-model="person.username" required>
        </md-input-container>
        <md-input-container>
          <label for="firstName">First name</label>
          <input id="firstName" name="firstName" ng-model="person.firstName" required>
        </md-input-container>
        <md-input-container>
          <label for="lastName">Last name</label>
          <input id="lastName" name="lastName" ng-model="person.lastName" required>
        </md-input-container>
        <md-input-container>
          <label for="email">Email</label>
          <input id="email" name="email" ng-model="person.email" type="email" required>
        </md-input-container>
        <!-- TODO location -->
        <!--
        <div class="form-group">
            <label>Location</label>
            <select class="form-control" ng-model="person.location.mapRef" ng-options="ref*1 as map.name for (ref, map) in maps" ng-change="updateLocation()">
                <option value="">No map</option>
            </select>
        </div>
        <div ng-show="person.location.mapRef" class="form-group" ng-class="{ 'has-error': form.latitude.$invalid }">
            <label for="latitude">Latitude</label>
            <input class="form-control" id="latitude" name="latitude" ng-model="person.location.latitude" type="number" ng-required="person.location.mapRef">
        </div>
        <div ng-show="person.location.mapRef" class="form-group" ng-class="{ 'has-error': form.longitude.$invalid }">
            <label for="longitude">Longitude</label>
            <input class="form-control" id="longitude" name="longitude" ng-model="person.location.longitude" type="number" ng-required="person.location.mapRef">
        </div>
        -->
        <div ng-if="isNew">
          <md-button type="submit" class="md-raised md-primary" ng-click="create()" ng-disabled="form.$invalid">Create</md-button>
        </div>
        <div ng-if="!isNew" layout="row">
          <md-button type="submit" class="md-raised md-primary" ng-click="update()" ng-disabled="form.$invalid || !isChanged()">Save</md-button>
          <md-button type="button" ng-click="revert()">Revert</md-button>
          <md-button type="button" class="md-warn" ng-click="remove()">Delete</md-button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
