<div class="fixed-top-right">
	<a class="btn btn-default" href="/admin" role="button">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	</a>
</div>

<div class="container">
	<div class="page-header">
		<h1>Edit person</h1>
	</div>
	<form role="form" name="form">
		<div class="form-group">
			<label for="portrait">Portrait</label>
			<div ng-file-drop ng-file-select ng-model="file" allow-dir="false" accept="image/*" style="width: 200px; max-height: 250px; cursor: pointer;" class="image-caption-container">
				<img ng-src="{{getPortraitUrl()}}" class="img-responsive" />
				<div class="caption">Click or use drag and drop to upload a portrait</div>
			</div>
			<button type="button" class="btn btn-link" ng-click="removePortrait()" ng-show="hasPortrait()">Remove</button>
		</div>
		<div class="form-group" ng-class="{ 'has-error': form.username.$invalid }">
			<label for="username">Username</label>
			<input class="form-control" name="username" placeholder="Enter username" ng-model="person.username" required>
		</div>
		<div class="form-group" ng-class="{ 'has-error': form.firstName.$invalid }">
			<label for="firstName">First name</label>
			<input class="form-control" name="firstName" placeholder="Enter first name" ng-model="person.firstName" required>
		</div>
		<div class="form-group" ng-class="{ 'has-error': form.lastName.$invalid }">
			<label for="lastName">Last name</label>
			<input class="form-control" name="lastName" placeholder="Enter last name" ng-model="person.lastName" required>
		</div>
		<div class="form-group" ng-class="{ 'has-error': form.email.$invalid }">
			<label for="email">Email address</label>
			<input type="email" class="form-control" name="email" placeholder="Enter email" ng-model="person.email" required>
		</div>
		<button type="submit" class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid || !isChanged()">
			<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
			Save
		</button>
		<button type="button" class="btn btn-link" ng-click="reset()">Reset</button>
		<button type="button" class="btn btn-default pull-right" ng-click="delete()">
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			Delete
		</button>
	</form>
</div>