<div layout="column" flex>
  <md-toolbar>
      <div class="md-toolbar-tools">
          <md-button href="/">OfficeMap</md-button>
          <search ng-controller="SearchController"></search>
          <span flex></span>
          <md-button href="/">Close</md-button>
      </div>
  </md-toolbar>
  <md-tabs md-center-tabs="true" flex>
    <md-tab label="People">
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="(ref, person) in persons" ng-click="go('/admin/persons/{{ref}}');">
          <div class="md-list-item-text">
            <h3>{{ person.firstName }} {{ person.lastName }}</h3>
            <h4>{{ person.username }}</h4>
            <p>{{ person.email }}</p>
          </div>
        </md-list-item>
      </md-list>
      <div layout="row" layout-align="end">
        <md-button class="md-fab" href="/admin/persons/new" aria-label="Create person">
          <md-icon>add</md-icon>
        </md-button>
      </div>
    </md-tab>
    <md-tab label="Maps">
      <md-list>
        <md-list-item ng-repeat="(ref, map) in maps" ng-click="go('/admin/maps/{{ref}}');">
          <p>{{ map.name }}</p>
        </md-list-item>
      </md-list>
      <div layout="row" layout-align="end">
        <md-button class="md-fab" href="/admin/maps/new" aria-label="Create map">
          <md-icon>add</md-icon>
        </md-button>
      </div>
    </md-tab>
  </md-tabs>
</div>
