<div layout="row">
  <md-tabs md-center-tabs="true" flex class="center">
    <md-tab label="People">
      <md-list>
        <md-list-item class="md-3-line" ng-repeat="(ref, person) in persons" ng-click="go('/admin/persons/{{ref}}');">
          <div class="md-list-item-text">
            <h3>{{ person.firstName }} {{ person.lastName }}</h3>
            <h4>{{ person.username }}</h4>
            <p>{{ person.email }}</p>
          </div>
        </md-list-item>
      </md-list>
      <div layout="row" layout-align="end">
        <md-button class="md-fab" href="/admin/persons/new" aria-label="Add a new person">
          <md-icon>add</md-icon>
          <md-tooltip>
            Add a new person
          </md-tooltip>
        </md-button>
      </div>
    </md-tab>
    <md-tab label="Maps">
      <md-list>
        <md-list-item ng-repeat="(ref, map) in maps" ng-click="go('/admin/maps/{{ref}}');">
          <p>{{ map.name }}</p>
        </md-list-item>
      </md-list>
      <div layout="row" layout-align="end">
        <md-button class="md-fab" href="/admin/maps/new" aria-label="Add a new map">
          <md-icon>add</md-icon>
          <md-tooltip>
            Add a new map
          </md-tooltip>
        </md-button>
      </div>
    </md-tab>
  </md-tabs>
</div>
