# Node Modules
/node_modules

# Bower Components
/bower_components

# Grunt output directory
/dist

# Development serve directory
/.tmp

# SASS cache
/.sass-cache

# Gradle build caches
/.caches/

# Temporary jruby repository
/.jruby/
